@page "/"

<PageTitle>Home</PageTitle>


<div class="mx-auto flex max-w-sm items-center gap-x-4 rounded-xl bg-white p-6 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
  <div>
    <div class="text-xl font-medium text-black dark:text-white">ChitChat</div>
    <p class="outline outline-red/5 p-1 rounded-md text-red-500 dark:text-gray-400">You have a new message!</p>
  </div>
</div>

<div class="mt-5">
Welcome to your new app.
</div>
<button class="text-white bg-sky-500 hover:bg-sky-700 outline outline-blue/4 py-1 px-2 rounded">Save changes</button>